
@{
    ViewBag.Title = "covid19";
    Layout = "~/Views/Shared/_CharLayout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Content/covid19.css">
    <link rel="stylesheet" href="~/Content/_CharLayout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}

<div class="tittle-covid">
    <div>Hãy luôn thực hiện quy tắc <b style="color: darksalmon">5K</b> nhé</div>
    <p>(Lưu ý hiện tại Api vẫn đang phát triển nên dữ liệu vẫn <span style="font-weight: bold;color: red;">chưa chính xác</span>, vui lòng không tin tuyệt đối vào dữ liệu dưới đây!!!)</p>
</div>

<div class="VietNamBoard">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg/230px-Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg.png">
    <div class="VietNamContain">
        <b>Khu vực: </b><span style="color: rgb(223, 220, 82); background-color: rgb(206, 89, 89); border-radius: 30px; padding: 3px; ">Việt Nam</span><br>
        <b>Tổng số ca: </b><span style="color: cornflowerblue;" id="VietNamTotalCase">Đang tải...</span><br>
        <b>Số ca mới: </b><span id="VietNamNewCase">Đang tải...</span><br>
        <b>Tổng số ca chết: </b><span style="color: red;" id="VietNamTotalDeath">Đang tải...</span><br>
        <b>Ca chết mới: </b><span id="VietNamNewDeath">Đang tải...</span><br>
        <b>Tổng ca hồi phục: </b><span style="color: green;" id="VietNamTotalRecover">Đang tải...</span><br>
    </div>
</div>

<div class="GlobalBoard">
    <img src="https://chuyenphatnhanhquoctedhl.com.vn/wp-content/uploads/2017/12/sub-buzz-23725-1476176180-1-1476865251450.png">
    <div class="VietNamContain">
        <b>Khu vực: </b><span style="color: rgb(58, 73, 73); background-color: rgb(65, 179, 199); border-radius: 30px; padding: 3px; ">Thế giới</span><br>
        <b>Tổng số ca: </b><span style="color: cornflowerblue;" id="GlobalTotalCase">Đang tải...</span><br>
        <b>Số ca mới: </b><span id="GlobalNewCase">Đang tải...</span><br>
        <b>Tổng số ca chết: </b><span style="color: red;" id="GlobalTotalDeath">Đang tải...</span><br>
        <b>Ca chết mới: </b><span id="GlobalNewDeath">Đang tải...</span><br>
        <b>Tổng ca hồi phục: </b><span style="color: green;" id="GlobalTotalRecover">Đang tải...</span><br>
    </div>
</div>

<img class="img-5k" src="https://phutho.gov.vn/sites/default/files/users/user204/5k.gif">

<div class="contain-table">
    <div class="table">
        <div class="loading" id="getLoad">
            <img width="300px" style="margin-top: 15%;" src="~/Content/3.gif">
        </div>
        <div class="tittle-table">Thông tin theo khu vực, châu lục...</div>
        <table class="contain-covid-global">
            <tr>
                <th>Khu vực</th>
                <th style="background-color: rgb(116, 170, 206); color:rgb(255, 255, 255);">Tổng số ca</th>
                <th>Số ca mới</th>
                <th style="background-color: rgb(212, 120, 113); color:rgb(255, 255, 255);">Tổng số ca chết</th>
                <th>Ca chết mới</th>
                <th style="background-color: rgb(107, 199, 122); color:rgb(255, 255, 255);">Tổng hồi phục</th>
                <th>Bị nhiễm</th>
                <th>Nguy cơ</th>
                <th>Tỷ lệ lây nhiễm</th>
            </tr>
        </table>
        <div class=" tittle-table ">Thông tin chi tiết từng nước...</div>
        <table class="contain-covid-detail ">
            <tr>
                <th>STT</th>
                <th>Khu vực</th>
                <th style="background-color: rgb(116, 170, 206); color:rgb(255, 255, 255);">Tổng số ca</th>
                <th>Số ca mới</th>
                <th style="background-color: rgb(212, 120, 113); color:rgb(255, 255, 255);">Tổng số ca chết</th>
                <th>Ca chết mới</th>
                <th style="background-color: rgb(107, 199, 122); color:rgb(255, 255, 255);">Tổng hồi phục</th>
                <th>Bị nhiễm</th>
                <th>Nguy cơ</th>
                <th>Tỷ lệ lây nhiễm</th>
                <th>Tỷ lệ chết</th>
                <th>Đã xét nghiệm</th>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        document.getElementById('getLoad').style.display = "block ";
        setTimeout(
            function () {
                document.getElementById('getLoad').style.display = "none ";
            }, 3000);
        $.ajax({
            type: 'GET',
            dataType: "json ",
            url: 'https://taei-taei.herokuapp.com/',
            success: function (data) {
                $.each(data.data.global, function (index, element) {
                    if (element.CountryName == 'Việt Nam') {
                        document.getElementById('VietNamTotalCase').innerHTML = this.TotalCase
                        document.getElementById('VietNamNewCase').innerHTML = this.NewCase
                        document.getElementById('VietNamTotalDeath').innerHTML = this.TotalDeath
                        document.getElementById('VietNamNewDeath').innerHTML = this.NewDeath
                        document.getElementById('VietNamTotalRecover').innerHTML = this.TotalRecovery
                    }
                    if (element.CountryName == 'Thế giới') {
                        document.getElementById('GlobalTotalCase').innerHTML = this.TotalCase
                        document.getElementById('GlobalNewCase').innerHTML = this.NewCase
                        document.getElementById('GlobalTotalDeath').innerHTML = this.TotalDeath
                        document.getElementById('GlobalNewDeath').innerHTML = this.NewDeath
                        document.getElementById('GlobalTotalRecover').innerHTML = this.TotalRecovery
                    }
                    if (element.CountryName == ' Bắc Mỹ' || element.CountryName == ' Châu Á' || element.CountryName == ' Nam Mỹ' ||
                        element.CountryName == ' Châu Âu' || element.CountryName == ' Châu Phi' || element.CountryName == ' Châu Úc' || element.CountryName == 'Thế giới' || element.CountryName == ' ') {
                        $('.contain-covid-global').append(
                            '<tr>' +
                            '<td style="font-weight: bold; ">' + element.CountryName + '</td>' +
                            '<td>' + element.TotalCase + '</td>' +
                            '<td style="color: blue; ">' + element.NewCase + '</td>' +
                            '<td>' + element.TotalDeath + '</td>' +
                            '<td style="color: red; ">' + element.NewDeath + '</td>' +
                            '<td>' + element.TotalRecovery + '</td>' +
                            '<td style="color: green; ">' + element.Infected + '</td>' +
                            '<td>' + element.Critical + '</td>' +
                            '<td>' + element.InfectionRate + '</td>' +
                            '</tr>'
                        )
                    } else {
                        $('.contain-covid-detail').append(
                            '<tr>' +
                            '<td>' + element.CountryId + '</td>' +
                            '<td style="font-weight: bold; ">' + element.CountryName + '</td>' +
                            '<td>' + element.TotalCase + '</td>' +
                            '<td style="color: blue; ">' + element.NewCase + '</td>' +
                            '<td>' + element.TotalDeath + '</td>' +
                            '<td style="color: red; ">' + element.NewDeath + '</td>' +
                            '<td>' + element.TotalRecovery + '</td>' +
                            '<td style="color: green; ">' + element.Infected + '</td>' +
                            '<td>' + element.Critical + '</td>' +
                            '<td>' + element.InfectionRate + '</td>' +
                            '<td>' + element.DeathRate + '</td>' +
                            '<td>' + element.Tested + '</td>' +
                            '</tr>'
                        )
                    }
                });
            }
        });
    })
</script>

