
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/loginStyle.css" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <div id="form-login">
        <div id="left">
            <img src="~/Content/home_kv_chara.png">
        </div>
        <div id="right">
            <img id="logo" src="~/Content/Wiki-wordmark.png">
            @Html.ValidationSummary(true, null)
            @using (Html.BeginForm("Login", "Char", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="text" class="form-control" name="user" id="usr" placeholder="UserName" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pass" id="pwd" placeholder="PassWord" required>
                </div>
                <div class="form-group submit">
                    <input type="submit" size="30" class="form-control submit" id="log" value="Đăng nhập" required>
                </div>
                <p>
                    Nếu chưa có tài khoản thì
                    <a href="@Url.Action("Register", "Char")">đăng ký</a> nha!
                </p>
                <div class="col">
                    <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="#" class="google btn">
                        <i class="fa fa-google fa-fw">
                        </i> Login with Google+
                    </a>
                </div>
            }
            </div>
    </div>
</body>

</html>
