@model List<PriCone.Models.dataModels.Card>
@{
    Layout = null;
}


<div class="pic-contain">

    @foreach (var items in Model)
    {
        <img width="30%" src="~/Images/charCard/@items.Card1">
    }
</div>