    #main #picture {
        transition: 0.5s;
        grid-area: middle;
        margin-top: 10px;
        text-align: center;
        transition: 0.5s;
    }

#myVideo {
    transition: 0.5s;
    height: 445px;
    border-radius: 15px;
}

#main #picture img {
    transition: 0.5s;
    width: 800px;
}

#main .right-slide {
    transition: 0.5s;
    text-align: center;
    grid-area: right;
    margin-top: 10px;
    margin-right: 17px;
    align-items: center;
}

    #main .right-slide b {
        border-radius: 30px;
        display: block;
        transition: 0.5s;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgb(98, 184, 233);
        color: rgb(108, 97, 109);
    }

    #main .right-slide #list {
        transition: 0.5s;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: 0.5s;
    }

        #main .right-slide #list a {
            text-decoration: none;
            transition: 0.5s;
        }

        #main .right-slide #list:hover #top {
            filter: blur(3px);
            opacity: .5;
            transform: scale(.98);
            box-shadow: none;
        }

        #main .right-slide #list a:hover #top:hover {
            background-color: pink;
            border: 2px solid rgb(241, 149, 164);
            color: white;
            transition: 0.5s;
            margin: 10px;
            transform: scale(1);
            filter: blur(0px);
            opacity: 1;
        }

        #main .right-slide #list img {
            transition: 0.5s;
            width: 80px;
            margin: 10px;
            padding-top: 30px;
        }

        #main .right-slide #list #numberLike{
            color: red;
            font-weight: bold;
        }

        #main #header-main {
            transition: 0.5s;
            display: grid;
            grid-template-areas: 'middle right';
        }
/* danh sách nhân vật */

#main-content {
    display: grid;
    grid-template-areas: 'middle right''middle fb';
}

#content {
    margin-left: 25px;
    grid-area: middle;
    width: 800px;
    float: left;
}

    #content p {
        display: block;
        background-color: #e17f7f;
        border-radius: 30px;
        /* box-shadow: 5px 10px 8px 10px rgba(65, 90, 107, 0.589); */
        color: white;
        text-align: center;
        font-size: 30px;
    }

    #content #guild-container {
        transition: 0.5s;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 10px;
        margin-bottom: 20px;
    }

        #content #guild-container a {
            transition: 0.3s;
            text-align: center;
            text-decoration: none;
            border: 1px solid black;
            box-shadow: 5px 10px #888888;
            margin: 10px;
            border-radius: 20px;
        }

            #content #guild-container a:hover {
                background-color: rgba(240, 176, 176, 0.555);
                border-radius: 30px;
                color: white;
                margin: 20px;
            }

        #content #guild-container img {
            border-radius: 50px;
            padding: 10px;
        }

        #content #guild-container #nameChar {
            text-align: center;
            color: white;
            background-color: #F65091;
            border-radius: 20px;
            padding: 10px;
            margin: 5px;
        }

            #content #guild-container #nameChar:hover {
                background-color: pink;
            }

            #right-content {
                grid-area: right;
                float: right;
            }

#visisted {
    margin-top: 30px;
    width: 350px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
}

    #visisted #count {
        margin-top: 20px;
        text-align: center;
        color: whitesmoke;
        width: 300px;
        background-color: rgba(231, 162, 59, 0.575);
    }

    #visisted #visisted-right {
        width: 200px;
    }

    #visisted #visisted-left {
        width: 30px;
        font-weight: normal;
    }

#facebook {
    text-align: center;
    grid-area: fb;
    width: 320px;
    height: 500px;
    margin: 10px 0px 10px 10px;
    border-radius: 15px;
}

#maps {
    text-align: center;
    grid-area: fb;
    width: 320px;
    height: 500px;
    margin: 10px 0px 10px 10px;
    border-radius: 15px;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

@media only screen and (max-width: 600px) {
    #main {
        margin: auto;
    }

    #header {
        margin: 0;
    }

        #header .topnav #logo-left {
            display: none;
        }

        #header .topnav #img-left img {
            text-align: center;
            width: 325px;
            margin-left: 10px;
        }

        #header .topnav #img-left h2 {
            display: none;
        }

        #header .topnav #login-right {
            float: none;
            text-align: center;
        }

    #main #header-main {
        display: grid;
        grid-template-areas: 'middle''right';
    }

    .topnav {
        margin: 0;
        float: none;
        text-align: center;
        height: 130px;
    }

        .topnav h1 {
            font-size: 25px;
        }

        .topnav #img-left p {
            font-weight: bold;
            font-size: 20px;
        }

    .ThanhChucNang {
        margin-top: 10px;
    }

    #main #picture {
        grid-area: middle;
        margin-top: 10px;
        margin-left: 0;
    }

    #myVideo {
        height: 200px;
    }

    #main .right-slide {
        transition: 0.5s;
        text-align: center;
        grid-area: right;
        margin-top: 10px;
        margin-right: 0;
        margin: 20px;
        align-items: center;
    }

    #main #picture img {
        width: 370px;
    }

    #content {
        margin-left: 10px;
        margin-right: 10px;
        grid-area: middle;
        width: fit-content
    }

            #content #guild-container a:hover {
                margin: 10px;
            }

    #visisted {
        display: none;
    }

    #facebook {
        display: none;
    }
}
@media only screen and (max-width: 1366px) and (min-width: 768px) {

        #header .topnav #img-left img {
            text-align: center;
            width: 230px;
            margin-left: 10px;
        }

    #myVideo {
        height: 370px;
    }

    #main #header-main {
        display: grid;
        grid-template-areas: 'middle right';
    }

    #content {
        width: 650px;
    }

    .topnav #img-left p {
        font-weight: bold;
        font-size: 30px;
    }
}

@media only screen and (max-width: 1365px) and (min-width: 601px) {
    #main {
    }

    #header {
    }

        #header .topnav #img-left img {
            text-align: center;
            width: 230px;
            margin-left: 10px;
        }

    #myVideo {
        height: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #main #header-main {
        display: grid;
        grid-template-areas: 'middle right';
    }

    #content {
        width: 550px;
    }

    .topnav #img-left p {
        font-weight: bold;
        font-size: 30px;
    }
}

@media only screen and (max-width: 835px) and (min-width: 601px) {
    #main {
        margin: auto;
    }

    #header {
        margin: 0;
    }

        #header .topnav #img-left img {
            text-align: center;
            width: 230px;
            margin-left: 10px;
        }

    #myVideo {
        height: 300px;
    }

    #main #header-main {
        display: grid;
        grid-template-areas: 'middle''right';
    }

    #content {
        width: 400px;
    }

    .topnav #img-left p {
        font-weight: bold;
        font-size: 20px;
    }
}

