.container {
    display: grid;
    grid-template-areas: 'left right''bottom bottom';
}

.Tittle-User {
    grid-area: left;
    width: 500px;
}

.Tittle-Like {
    grid-area: right;
    width: 500px;
}

    .Tittle-Like #list-like {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .Tittle-Like #list-like img {
            width: 70%;
            border-radius: 50px;
        }

        .Tittle-Like #list-like p {
            font-weight: normal;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif;
        }

        .Tittle-Like #list-like a {
            text-decoration: none;
            transition: 0.5s;
            text-align: center;
            margin: 10px;
            color: rgb(221, 101, 101);
        }

            .Tittle-Like #list-like a:hover {
                background-color: rgba(118, 210, 223, 0.568);
                border-radius: 100%;
            }

    .Tittle-Like #Tittle-content {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin: 10px 0 10px 10px;
        background-color: #e77272;
        color: white;
        border-radius: 30px;
        text-align: center;
    }

.Tittle-User #Tittle-content {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 10px 10px;
    background-color: #6cbfe0;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.Tittle-Saved {
    grid-area: bottom;
}

    .Tittle-Saved #Tittle-content {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: #76e6a8;
        color: white;
        border-radius: 30px;
        text-align: center;
    }

    .Tittle-Saved #list-saved {
        display: flex;
        flex-wrap: wrap;
    }

        .Tittle-Saved #list-saved img {
            border-radius: 50px;
            padding: 10px;
        }

        .Tittle-Saved #list-saved p {
            font-weight: normal;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            background-color: rgb(209, 107, 107);
            color: white;
            text-align: center;
            border-radius: 30px;
            margin: 10px;
        }

        .Tittle-Saved #list-saved a {
            text-decoration: none;
            margin: 20px;
            transition: 0.3s;
            border: 1px solid black;
            box-shadow: 5px 10px #888888;
        }

            .Tittle-Saved #list-saved a:hover {
                background-color: rgba(255, 192, 203, 0.596);
                border-radius: 50px;
                padding: 15px;
            }

.content {
    margin: 20px;
}

    .content button {
        margin-top: 20px;
        border-radius: 30px;
    }

/* Model popup */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 80%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-right: 10%;
    padding-left: 10%;
}
/* Modal Content */

.modal-content {
    position: relative;
    background-image: url("nen.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body{
    overflow: auto;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
/* The Close Button */

@media only screen and (max-width: 600px) {
    #main {
        margin: auto;
    }

    #header {
        margin: 0;
    }

        #header .topnav #logo-left {
            display: none;
        }

        #header .topnav #img-left img {
            text-align: center;
            width: 325px;
            margin-left: 10px;
        }

        #header .topnav #img-left h2 {
            display: none;
        }

        #header .topnav #login-right {
            float: none;
            text-align: center;
        }

    #main #header-main {
        display: grid;
        grid-template-areas: 'middle''right';
    }

    .topnav {
        margin: 0;
        float: none;
        text-align: center;
        height: 130px;
    }

        .topnav h1 {
            font-size: 25px;
        }

        .topnav #img-left p {
            font-weight: bold;
            font-size: 20px;
        }

    .ThanhChucNang {
        margin-top: 10px;
    }

    .container {
        display: grid;
        grid-template-areas: 'left''right''bottom';
    }

    .Tittle-Like {
        grid-area: right;
        width: 390px;
    }

    .Tittle-Saved {
        grid-area: bottom;
        width: 390px;
    }

    .Tittle-User {
        grid-area: left;
        width: 390px;
    }
}

@media only screen and (max-width: 1180px) and (min-width: 600px) {
    #header .topnav #img-left img {
        text-align: center;
        width: 230px;
        margin-left: 10px;
    }

    #myVideo {
        height: 370px;
    }

    #main #header-main {
        display: grid;
        grid-template-areas: 'middle right';
    }

    #content {
        width: 650px;
    }

    .topnav #img-left p {
        font-weight: bold;
        font-size: 30px;
    }

    .container {
        display: grid;
        grid-template-areas: 'left right''bottom bottom';
    }

    .Tittle-Like {
        grid-area: right;
        width: 390px;
    }

    .Tittle-Saved {
        grid-area: bottom;
        width: 100%;
    }

    .Tittle-User {
        grid-area: left;
        width: 390px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 600px) {
    #header .topnav #img-left img {
        text-align: center;
        width: 230px;
        margin-left: 10px;
    }

    #myVideo {
        height: 370px;
    }

    #main #header-main {
        display: grid;
        grid-template-areas: 'middle right';
    }

    #content {
        width: 650px;
    }

    .topnav #img-left p {
        font-weight: bold;
        font-size: 30px;
    }

    .container {
        display: grid;
        grid-template-areas: 'left''right''bottom';
    }

    .Tittle-Like {
        grid-area: right;
        width: 390px;
    }

    .Tittle-Saved {
        grid-area: bottom;
        width: 100%;
    }

    .Tittle-User {
        grid-area: left;
        width: 390px;
    }
}
